@import "tailwindcss";

@theme {
  --font-display: 'Instrument Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-primary: #030712 ; 
  --color-secondary: #050a17;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  --animate-meteor: meteor 5s linear infinite;
  --animate-float: float 10s linear infinite;
  --animate-spin-slow: spin 30s linear infinite;
}

body {
  font-family: var(--font-display);
}
/* Selection */
::selection {
  background-color: #8b5cf6;
  color: white;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* gray-500 */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #1f2937; /* gray-950 */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* gray-600 (lighten the thumb on hover) */
}

/* For Firefox */
scrollbar {
  width: 8px;
  background-color: #1f2937; /* gray-950 */
}

scrollbar-thumb {
  background-color: #6b7280; /* gray-500 */
  border-radius: 4px;
}

scrollbar-thumb:hover {
  background-color: #4b5563; /* gray-600 */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
@keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

@keyframes float {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(20px) translateY(-20px);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
